In [3]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [4]:
stock = "MBG.DE"     # Mercedes-Benz
market = "^GDAXI"    # DAX Index
start_date = "2017-01-01"
end_date = "2025-01-01"

In [5]:
# Data downlode

df_stock = yf.download(stock, start=start_date, end=end_date)
df_market = yf.download(market, start=start_date, end=end_date)

/var/folders/kx/t7xsn3md0wxf_6_gg_5dqyrm0000gn/T/ipykernel_8255/1722416870.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_stock = yf.download(stock, start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed
/var/folders/kx/t7xsn3md0wxf_6_gg_5dqyrm0000gn/T/ipykernel_8255/1722416870.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_market = yf.download(market, start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed

In [8]:
df_stock.to_csv("/Users/farhad/Desktop/mercedes-capm-timevarying/data/raw/mbg_raw.csv")
df_market.to_csv("/Users/farhad/Desktop/mercedes-capm-timevarying/data/raw/dax_raw.csv")

In [12]:
mbg= pd.read_csv("/Users/farhad/Desktop/mercedes-capm-timevarying/data/raw/mbg_raw.csv")
mbg.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,MBG.DE,MBG.DE,MBG.DE,MBG.DE,MBG.DE
1,Date,NaN,NaN,NaN,NaN,NaN
2,2017-01-02,33.678707122802734,33.80645687096952,33.03522554349842,33.205557817710336,2399347
3,2017-01-03,34.1140022277832,34.36950389285639,33.77333551105033,33.78279901791186,4980484
4,2017-01-04,34.09980773925781,34.312724706513876,33.60300292901457,34.27960568784981,3501079

In [ ]:
dax= pd.read_csv("/Users/farhad/Desktop/mercedes-capm-timevarying/data/raw/dax_raw.csv")
dax.head()

RangeIndex(start=0, stop=2031, step=1)